
.results-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    font-family: "Chivo Mono";
  }
  
  .left {
    flex: 3;
  }
  
  .right {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
  .top {
    flex: 7;
  }
  
  .bottom {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .speech-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .speech-bubble {
    background-color: #ffdcbe;
    padding: 10px;
    border-radius: 10px;
    width: 92%;
    height: 92%;
  }

  .buddy-container {
    height: 100%;
    display: flex;
    justify-content: center;
  } 
  
  .crop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .crops {
    padding: 10px;
    border-radius: 10px;
    width: 95%;
    height: 95%;
  }

  .title {
    color: rgb(255, 240, 240);
  }
  
  
  