:root {
  --primary: #47a24d;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a3dba7 !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.search-container .row1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.search-container .row2 {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.row2 h5 {
  margin: 10px;
}

.search-container .row3 {
  flex: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

input[type="text"] {
  background-color: #CCEDCE;
  width: 500px !important;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

/*button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}*/



