

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b4ddb4 !important;
  overflow: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  font-family: "Chivo Mono"
}

.logo {
  width: 250px;
  height: auto;
  padding: 10px;
}

.search-container .row1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.row2 {

  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.slide-down-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-down-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 3000ms, transform 3000ms;
}

.slide-down-exit {
  opacity: 1;
  transform: translateY(0%);
}

.slide-down-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 3000ms, transform 3000ms;
}

.search-container .row2 h1 {
  font-size: 70px;
  margin-bottom: 20px;
  color: #3b3b3b;
}

.or {
  color: #3b3b3b;
}


.search-button {
  background-color: #CCEDCE !important;
  border: none !important;
}

.secondary-button {
  background-color: #47a24d !important;
  border: 0px !important;
}

.search-container .row3 {
  flex: 5;
  
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

input[type="text"] {
  background-color: #CCEDCE;
  width: 350px !important;
  border: 1px;
  letter-spacing: 2px;
}





